.new {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .main_content {
            height: calc(100vh - 50px);
            overflow: auto;

            .datatableTitle {
                font-size: 24px;
                color: gray;
                gap: 20px;
                padding: 10px;
                margin: 20px;
            }

            .bottom {
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 10px;
                margin: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                padding: 2rem;

                .left {
                    text-align: center;

                    img {
                        width: 100%;
                        max-width: 150px;
                        height: auto;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .right {
                    form {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        justify-content: space-between;

                        .formInput {
                            width: calc(50% - 20px); /* Adjust width based on screen size */

                            label {
                                display: block;
                                margin-bottom: 5px;

                                .icon {
                                    cursor: pointer;
                                }
                            }

                            input.inputField {
                                width: 100%;
                                padding: 8px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                outline: none;
                                transition: border-color 0.3s;

                                &:focus {
                                    border-color: teal;
                                }
                            }
                        }

                        button {
                            padding: 10px;
                            border: none;
                            background-color: teal;
                            color: white;
                            cursor: pointer;
                            margin-top: 10px;
                            border-radius: 4px;
                            transition: background-color 0.3s;
                            align-self: center;

                            &:hover {
                                background-color: #00796b;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .new {
            .newContainer {
                .main_content {
                    .bottom {
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        padding: 10px;
                        margin: 20px;
                    }
                }
            }

            .right {
                form {
                    .formInput {
                        width: 100%; /* Stack inputs on smaller screens */
                    }
                }
            }
        }
    }
}
